:root {
  --verde-gradient: linear-gradient(to top, #307e5b 0%, #1a6a50 100%);
  --black-gradient: linear-gradient(to bottom, #333333 0%, black 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  background: var(--verde-gradient);
}

header {
  padding: 20px 40px;
  background: var(--black-gradient);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

header > h1.titulo {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

header > div.container-buttons {
  display: flex;
  gap: 20px;
}

header > div.container-buttons > button {
  padding: 10px 15px;
  border: none;
  background: var(--verde-gradient);
  color: white;
  cursor: pointer;
  transition: all ease 350ms;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

main > div.container-player > div.div-cartas > img.carta {
  position: relative;
  width: 110px;
  left: 150px;
  margin-left: -75px;
  margin-top: 25px;
  margin-bottom: 25px;
  transform: rotate(5deg);
  filter: drop-shadow(-3px 1px 4px rgba(0, 0, 0, 0.3));
}

main > div.container-player > div#jugador-cartas,
main > div.container-player > div#computadora-cartas {
  min-height: 100px;
}
